<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학생목록</title>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>학번</th>
    <th>이름</th>
    <th>전화번호</th>
    <th>전공</th>
  </tr>
  <tr th:each="student: ${studentList}">
    <td th:text="${student.id}"></td>
    <td th:text="${student.studentNumber}"></td>
    <td th:text="${student.studentName}"></td>
    <td th:text="${student.studentMobile}"></td>
    <td th:text="${student.studentMajor}"></td>
  </tr>
</table>
</body>
</html>