<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학생등록</title>
</head>
<body>
<form action="/save" method="post">
    학번: <input type="text" name="studentNumber"> <br>
    이름: <input type="text" name="studentName"> <br>
    전화번호: <input type="text" name="studentMobile"> <br>
    전공: <select name="studentMajor">
        <option value="컴퓨터공학">컴퓨터공학</option>
        <option value="전자공학">전자공학</option>
        <option value="경영학">경영학</option>
    </select><br>
    <button>저장</button>
</form>
</body>
</html>